# --- GLOBAL CONFIGURATION ---
DOMAIN_NAME=pl.quatrain.com
SSL_EMAIL=developers@quatrain.com
BASE_STORAGE_PATH=/data
TIMEZONE=Europe/Paris

# --- TRAEFIK ---
# Default resolver to use: 
# - myresolver (Standard TLS Challenge)
# - dnsresolver (Cloudflare DNS Challenge - requires CF_DNS_API_TOKEN)
TRAEFIK_RESOLVER=myresolver

# Basic Auth for Dashboard: htpasswd format
# Generate with: echo $(htpasswd -nb user password) | sed -e s/\$/\$\$/g
TRAEFIK_AUTH=crapougnax:$$apr1$$Ohuh7Ip4$$qkV8N372uZ02HURKuctep0

# --- CLOUDFLARE (OPTIONAL) ---
# If provided, Traefik will use DNS challenge for wildcard certificates
CF_DNS_API_TOKEN=

# --- SMTP RELAY ---
SMTP_HOSTNAME=pl.quatrain.com
SMTP_RELAYHOST=[smtp.sendgrid.net]:587
SMTP_USER=apikey
SMTP_PASSWORD=
SMTP_FROM=noreply@quatrain.com

# --- APPS CONFIGURATION ---
# Common
GENERIC_TIMEZONE=Europe/Paris

# n8n
N8N_SUBDOMAIN=n8n

# Immich
IMMICH_VERSION=latest
UPLOAD_LOCATION=/data/immich/upload
DB_DATA_LOCATION=/data/immich/db
DB_PASSWORD=change_me
DB_USERNAME=immich
DB_DATABASE_NAME=immich

# Nextcloud
NEXTCLOUD_VERSION=latest
